<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="header">
    <f:if condition="{settings.listtitle}">
        <h2>{settings.listtitle}</h2>
    </f:if>
</f:section>

<f:section name="main">
    <f:if condition="{projects}">
        <f:then>

    <div class="row">
        <f:for each="{projects}" as="project">

            <f:render partial="Project/Listitem" arguments="{_all}"></f:render>

        </f:for>
    </div>
        </f:then>
        <f:else>
            Im Moment stehen keine Projekte in der Kategorie {category.title} zur Verfügung.
        </f:else>
    </f:if>

</f:section>
</html>