<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">

    <div class="row">

        <div class="col-sm-6 col-md-4">
            <!-- TEXT -->
            {project.description -> f:format.raw()}
        </div>
        <div class="col-sm-6 col-md-8">
            <!-- Images -->
            <f:render section="images" arguments="{images: project.images}"></f:render>

        </div>

    </div>

</f:section>

<f:section name="images">
    <div class="row">
        <f:for each="{images}" as="image" iteration="iteration">
            <div class="col-xs-6">
                <f:render section="image" arguments="{image: image}"></f:render>
            </div>
            <f:if condition="!{iteration.isLast}">
                <f:if condition="{iteration.isEven}">
                    </div><div class="row">
                </f:if>
            </f:if>
        </f:for>
    </div>
</f:section>

<f:section name="image">

        <f:if condition="{image.originalResource.description}">
            <figure>
        </f:if>
    <f:link.page pageUid="{f:uri.image(image: image)}" class="tx-burkaprojects-magnificpopup" rel="magnificpopup[a]">
        <f:media
                file="{image}"
                width="{settings.detail.imageWidth}"
                height="{settings.detail.imageHeight}"
                class="img-responsive"
                alt="{image.originalResource.alternative}"
                title="{image.originalResource.title}"
        />
    </f:link.page>
        <f:if condition="{image.originalResource.description}">
            <figcaption>
                {image.originalResource.description}
            </figcaption>
            </figure>
        </f:if>
</f:section>

</html>
